.Map {
  width: 100vw;
  height: 100vh;
}

.Map--NavigationControl {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

.Map--Tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}
